/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/dev-resources/examples.zip
*.log
resources/public/out/*
dev-resources/public/out/*
resources/public/main.js
dev-resources/public/main.js
